{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
        "jsx": true
        },
        "project": "./rate-repository-app/tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "react", "react-hooks", "react-native"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:react-native/all"
    ],
    "rules": {
        "semi": ["error", "always"],
        "indent": ["error", "tab"],
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off"
    },
    "settings": {
        "react": {
        "version": "detect"
        }
    }
}
